{% extends "base.html" %}


{% block title %}
Users
{% endblock %}

{% block content %}

<div class="justify-content-center px-4 py-5 my-5 text-center row">
  <h1 class="display-1 text-body-emphasis">Users</h1>
  <h4 class="text-body-emphasis">Unique: [ {{ users|length }} ]</h4>
  <div class="col-sm-0"></div>
  <div class="col-md-8 col-sm-12 col-lg-6 text-center justify-content-center row">
      {% for user in users %}
        <div class="card text-white bg-success col-md-8 col-sm-12 col-lg-6 text-center mb-4 me-2">
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info text-dark">
            {{ loop.index }}
          </span>
          <div class="card-body">
            <p>Username: <i>{{ user.username }}</i></p>
            <p>Bio: <i>{{ user.bio }}</i></p>
            <p>Age: <i>{{ user.age }}</i></p>
          </div>
        </div>
      {% endfor %}
    </div>
</div>

{% endblock %}